
@{
    ViewData["Title"] = "Home Page";
}
<head>
    
    <script type="text/javascript">
        $(document).ready(function () {
            let jwtToken = sessionStorage.getItem("jwtToken");
            let userName = sessionStorage.getItem("userName");
            
            $.ajax({
                type: "GET",
                url: 'https://localhost:44329/api/AdminFruit',
                headers: {
                    Authorization: 'Bearer ' + jwtToken
                },
                dataType: 'json',
                success: function (result, status, xhr) {
                    $("#IndexPage").show();
                   // alert("successful " + result[0].name);
                    var FruitsTable = $('#GetAllFruits');
                    FruitsTable.empty();
                    $(result).each(function (index, fruit) {
                        FruitsTable.append(AddFruitRow(fruit))
                    });

                },
                error: function (xhr, status, error) {
                    $("#unAuthorised").show();
                }
            });
        });
        function AddFruitRow(fruit) {
            var row =
                "<tr><td>" + "<img src='/Images/"+fruit.fruitImg +"' height='100px' width='100px'/>"+"</td>" +
                "<td>" + fruit.fruitId + "</td>" +
                "<td>" + fruit.fruitName + "</td>" +
                "<td>" + fruit.fruitPrice + "</td>" +
                "<td>" + fruit.fruitQty + "</td>" +

                "<td>" +
                "<button type='button' " +
                "onclick='goToEditFruit(this)' " +
                "class='btn btn-primary' " +
                "data-id='" + fruit.fruitId+ "'>" +
                "Update" +
                "</button>" +
                "&nbsp;&nbsp;&nbsp;&nbsp" +
                "<button type='button' " +
                "onclick='deleteFruit(this)' " +
                "class='btn btn-danger' " +
                "data-id='" + fruit.fruitId + "'>" +
                "Delete" +
                "</button>"
                +
                "</td></tr>";
            return row;
        }
        //Delete Fruit 
        function deleteFruit(fruit) {
            var id = $(fruit).data("id");

            $.ajax({
                url: "https://localhost:44329/api/AdminFruit/" + id,
                type: 'DELETE',
                success: function (response) {
                    $(fruit).parents("tr").remove();
                },
                error: function (xhr, message, error) {
                    alert("Error:" + xhr.responseText)
                }
            });
        }
    </script>
</head>

<h1 class="text-center" id="unAuthorised" style="display:none"> you are not authorised to view this page</h1>

<div class="text-center" id="IndexPage" style="display:none">
    <h3 style="align-self:center">Fruits available on Website</h3>
    <br />

    <table class="table table-bordered">
        <tr>
            <th>Fruit Image</th>
            <th> Fruit Id</th>
            <th> Fruit Name</th>
            <th>Fruit Price</th>
            <th>Fruit Quantity</th>
            <th>Actions</th>

        </tr>
        <tbody id="GetAllFruits"></tbody>


    </table>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>





</div>
