<head>
    
    <script type="text/javascript">
        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        $(document).ready(function () {
             $.ajax({
                type: "GET",
                url: 'https://localhost:44329/api/AdminOrder',
                dataType: 'json',
                headers: {
                    Authorization: 'Bearer ' + jwtToken
                },
                success: function (result, status, xhr) {
                    $('#processing').hide();
                    console.log(result);
                    var OrdersTable = $('#GetAllOrders');
                    OrdersTable.empty();
                    $(result).each(function (index, order) {
                        OrdersTable.append(AddOrderRow(order))
                    });

                },
                error: function (xhr, status, error) {
                    //alert("Error:" + xhr.responseText);
                    $("#unAuthorised").show();
                }
            });
        });
        function AddOrderRow(order) {
            let orderDate = order.orderDate.substring(0, 8);
            if (!order.fruit) {
                let a = fruit;
                a.fruitName = "Fruit Not Available";
                a.fruitImg = "not-available.png";
            }
            

            var row =
                "<div class='card'>" +
                "<div class='card-header' style='text-align: left'>" +
                "ORDER ID : #" + order.orderId+
                "</div>" +
                "<div class='card-body'>" +
                "<div class='row'>"+
                "<div class='col-2' id=imageDiv>" +
                "<img id=image src='/Images/" + order.fruit.fruitImg + "' height='100px' width='100px' />" +
                "</div>" +
                "<div class='col-2' id=fruitDiv>" +
                "<p id=fruitName>" +  "FRUIT : "+"<br>"+order.fruit.fruitName + "</p>" +
                "</div>" +
                "<div class='col-2'>" +
                "<p>" + "TOTAL : " + "<br>"+order.orderAmount+ "</p>" +
                "</div>" +
                "<div class='col-2'>" +
                "<p>" + "SHIP TO : " + "<br>"  + order.user.userName + "</p>" +
                "</div>" +
                "<div class='col-2'>" +
                "<p>" + "ORDER DATE : " + "<br>" + orderDate + "</p>" +
                "</div>" +
                "<div class='col-2'>" +
                "<button type='button' " +
                "onclick='goToViewDetails(this)' " +
                "class='btn btn-info' " +
                "data-id='" + order.orderId + "'>" +
                "View Order Details" +
                "</button>" +
                "</div>" +
                "</div>"+

                "</div>" +
                "</div>" +
                "<br>";

            return row;
        }
        function goToViewDetails(orderId)
        {
            let id = $(orderId).data("id");
            let url = "/Admin/AdminOrderDetails/" + id;
            window.location.href = url;
        }

    </script>
    <style>
        .card {
            border-block-color: #9494b8;
            border-radius: 50px 50px;
        }

        .card-header {
            background-color: #9494b8;
            color: white
        }

        p {
            font-weight: 400;
        }
   
    </style>
</head>

<h1 class="text-center" id="unAuthorised" style="display:none"> you are not authorised to view this page</h1>

    <h4 style="color:blueviolet;margin-top:20px;text-align:center">User's Orders</h4>
    <div class="spinner-border text-danger" id="processing" style="margin-left:600px;margin-top:200px"> </div>
    <div style="margin-top:20px" id="GetAllOrders"></div>


