
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let jwtToken = sessionStorage.getItem("jwtToken");
            let userName = sessionStorage.getItem("userName");
            console.log(userName);
            console.log(jwtToken);
            $('#userName').html(userName);
            $.ajax({
                type: "GET",
                url: 'https://localhost:44329/api/Admin',
                headers: {
                    Authorization: 'Bearer ' + jwtToken
                },
                dataType: 'json',
                success: function (result, status, xhr) {
                    $("#IndexPage").show();
                   // alert("successful " + result[0].name);
                    var customersTable = $('#GetAllCustomers');
                    customersTable.empty();
                    $(result).each(function (index, customer) {
                        customersTable.append(AddCustomerRow(customer))
                    });

                },
                error: function (xhr, status, error) {
                    $("#unAuthorised").show();
                }
            });
        });
        function AddCustomerRow(customer) {
            var row =
                "<tr><td id='customerId'>" + customer.id + "</td>" +
                "<td>" + customer.name + "</td>" +
                "<td>" + customer.startLocation + "</td>" +
                "<td>" + customer.endLocation + "</td>" +
                "<td>" +
                "<button type='button' " +
                "onclick='redirectToFurnitures(this)' " +
                "class='btn btn-primary' " +
                "data-id='" + customer.id + "'>" +
                "Buy" +
                "</button>" +
                "</td></tr>";
            return row;
        }
    </script>
</head>

<h1 class="text-center" id="unAuthorised" style="display:none"> you are not authorised to view this page</h1>

<div class="text-center" id="IndexPage" style="display:none">

    <h1 class="display-4">Welcome</h1> <h1 id="userName"></h1>
    <br />
    <table class="table table-bordered">
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th>start location</th>
            <th>End Location</th>

        </tr>
        <tbody id="GetAllCustomers"></tbody>
    </table>




</div>
