
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/Admin Css/AdminIndex.css" rel="stylesheet" />
    <script type="text/javascript">
        var jwtToken = sessionStorage.getItem("jwtToken");
        var imgURL = "";


        $(document).ready(function () {

            getAllFruits();


        });

        //get all fruits
        function getAllFruits() {
            $.ajax({
                type: "GET",
                url: 'https://localhost:44329/api/AdminFruit',
                headers: {
                    Authorization: 'Bearer ' + jwtToken
                },
                dataType: 'json',
                success: function (result, status, xhr) {
                    $('#processing').hide();
                    var FruitsTable = $('#GetAllFruits');
                    FruitsTable.empty();
                    $(result).each(function (index, fruit) {
                        FruitsTable.append(AddFruitRow(fruit))
                    });

                },
                error: function (xhr, status, error) {
                    $("#unAuthorised").show();
                }
            });
        }


        function AddFruitRow(fruit) {
            var row =
                "<tr><td>" + "<img src='/Images/" + fruit.fruitImg + "' height='100px' width='100px'/>" + "</td>" +
                "<td>" + fruit.fruitId + "</td>" +
                "<td>" + fruit.fruitName + "</td>" +
                "<td>" + fruit.fruitPrice + "</td>" +
                "<td>" + fruit.fruitQty + "</td>" +

                "<td>" +
                "<button type='button' " +
                "onclick='editFruit(this)' " +
                "class='btn btn-primary' " +
                "data-id='" + fruit.fruitId + "'>" +
                "Edit" +
                "</button>" +
                "&nbsp;&nbsp;&nbsp;&nbsp" +
                "<button type='button' " +
                "onclick='deleteFruit(this)' " +
                "class='btn btn-danger' " +
                "data-id='" + fruit.fruitId + "'>" +
                "Delete" +
                "</button>"
                +
                "</td></tr>";
            return row;
        }

        //Delete Fruit Modal
        function deleteFruit(fruitId) {
            var id = $(fruitId).data("id");
            let fruit = getFruitById(id);
            $('#deleteModal').modal('show');
            $('#deleteMessg').text("Are you sure you want to delete Fruit " + fruit.fruitName + " with Fruit Id " + fruit.fruitId + " ?");
            DeleteFruitAjax(id);
        }
        //Delete fruit through ajax
        function DeleteFruitAjax(fruitId) {

            $('#btnDelete').click(function () {
                $.ajax({
                    url: "https://localhost:44329/api/AdminFruit/" + fruitId,
                    type: 'DELETE',
                    headers: {
                        Authorization: 'Bearer ' + jwtToken
                    },
                    success: function (response) {
                        $(fruitId).parents("tr").remove();
                        $('#deleteModal').modal('hide');
                        window.location.reload();

                    },
                    error: function (xhr, message, error) {
                        alert("Error:" + xhr.responseText)
                    }
                });
            });
        }

        //preview Image
        function readURL(input) {
            console.log(input.files);
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#previewImage')
                        .attr('src', e.target.result)
                        .width(100)
                        .height(100);
                    imgURL = reader.result;
                };

                reader.readAsDataURL(input.files[0]);

            }
        }

        //Edit Fruit
        function editFruit(fruitId) {
            let id = $(fruitId).data("id");
            let fruit = getFruitById(id);
            $('#fruitId').val(fruit.fruitId);
            $('#name').val(fruit.fruitName);
            $('#price').val(fruit.fruitPrice);
            $('#qty').val(fruit.fruitQty);
            $('#selectedImg').val("");
            $('#previewImage').attr('src', '/Images/' + fruit.fruitImg);
            $('#editFruitModal').modal('show');

            //edit using modal
            $('#btnEdit').click(function () {
                let fruitId = $('#fruitId').val();
                let name = $('#name').val();
                let price = $('#price').val();
                let qty = $('#qty').val();
                if (imgURL != null) {
                    imgURL = imgURL.replace('data:image/png;base64,', "");
                    console.log(imgURL);
                }


                let item = { fruitName: name, fruitPrice: price, fruitQty: qty, fruitImgFile: imgURL };
                console.log(item);

                $.ajax({
                    url: "https://localhost:44329/api/AdminFruit/" + fruitId,
                    type: 'PUT',
                    data: JSON.stringify(item),
                    headers: {
                        Authorization: 'Bearer ' + jwtToken
                    },
                    contentType: "application/json",
                    success: function (response, textStatus, xhr) {
                        console.log(response);

                        $('#editFruitModal').modal('hide');
                        window.location.reload();
                        alert("Fruit  " + response.fruitName + " with Fruit Id " + response.fruitId + " updated");

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert("Error Occured: " + xhr.responseText);
                    }
                });

            });

        }

        //get Fruit By Id
        function getFruitById(fruitId) {
            let fruit = {};
            $.ajax({
                url: 'https://localhost:44329/api/AdminFruit/' + fruitId,
                headers: {
                    Authorization: 'Bearer ' + jwtToken
                },
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (response) {
                    fruit = response;
                },

                error: function (request, message, error) {
                    alert("Error Occured: " + message);
                }
            });

            return fruit;
        }


    </script>
</head>

<h1 class="text-center" id="unAuthorised" style="display:none"> you are not authorised to view this page</h1>


<br />
<h3 style="text-align:center">Fruits available on Website</h3>

<br />

<table class="table table-bordered">
    <tr>
        <th>Fruit Image</th>
        <th> Fruit Id</th>
        <th> Fruit Name</th>
        <th>Fruit Price</th>
        <th>Fruit Quantity</th>
        <th>Actions</th>

    </tr>

    <tbody id="GetAllFruits">
    </tbody>


</table>
<div class="spinner-border text-danger" id="processing" style="margin-left:500px;margin-top:200px"> </div>


<!--Loader-->
<div id="processDiv" class="loader" style="display:none;"></div>

<!----Edit  Fruit Modal-->
<div class="modal fade" id="editFruitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 text-center">
                <h4 style="color:blueviolet">Edit Fruit Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column ">
                    <form id="editForm">
                        <div class="form-group" hidden>
                            <h6>FRUIT ID :</h6>
                            <input type="text" class="form-control" id="fruitId">
                        </div>
                        <div class="form-group">
                            <h6>FRUIT NAME :</h6>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <h6>FRUIT PRICE :</h6>
                            <input type="number" class="form-control" id="price">
                        </div>
                        <div class="form-group">
                            <h6>FRUIT QUANTITY :</h6>
                            <input type="number" class="form-control" id="qty">
                        </div>
                        <div class="form-group">
                            <input type='file' id="selectedImg" onchange="readURL(this)" />
                            <img id="previewImage" src="#" alt="your image" height="100" width="100" />
                        </div>
                        <button type="button" class="btn btn-success btn-block btn-round" id="btnEdit">Save Changes</button>
                    </form>


                </div>
            </div>

        </div>
    </div>

</div>

<!----Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red" class="modal-title" id="exampleModalLabel">Delete Fruit Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="deleteForm">
                <div class="modal-body">
                    <p id="deleteMessg"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger" id="btnDelete">Yes</button>
                </div>
            </form>

        </div>
    </div>
</div>
