
<head>
   
</head>
<body>
    <div id="hidden">
        <input id="getCartId" type="hidden" value="@ViewBag.getCartId" />
    </div>
    <h1>Edit Cart Id:@ViewBag.getCartId</h1>
    <center class="container">
        <div id="editCartForm" class="alert alert-info">

            @*
                Image
            CartId
            CartQty
            CartAmount
            FruitId
            UserId
            *@
        </div>
    </center>
    
</body>

<script>
    $('#toggleAdminNavBar').hide();//hide Nav Bar
    $(document).ready(function () {
        ajaxGetAllCart();
    });

    function ajaxGetAllCart() {
        var getCartId = $('#getCartId').val();

        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        let userId = sessionStorage.getItem("userId");


        $.ajax({
            url: 'https://localhost:44339/api/cart',
            type: 'GET',
            headers: {
                Authorization: 'Bearer ' + jwtToken
            },
            dataType: 'json',
            success: function (data) {
                responseForAjaxGetAllCart(data, getCartId);
            },
            error: function (request) {
                var msg = "";
                msg += "Code: " + request.status + "\n";
                msg += "Text: " + request.statusText + "\n";
                if (request.status == 401) {
                    alert('You are not authorized...Redirecting to sign in');
                    var url = "https://localhost:44350/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            }
        });
    }

    function responseForAjaxGetAllCart(data, getCartId) {
        var html = "";
       
        $.each(data, function (index, trav) {
            if (trav.cartId == getCartId) {
                html = html + '<h2>' + trav.fruitName + '</h2>';
                html = html + "<img src='/Images/" + trav.fruitImg + "' alt='HTML5 Icon' style='width: 128px; height: 128px;'>";
                html = html + '<p> <b>Fruit Qty:</b><input id="txtcartQty" type="text" value="' + trav.cartQty + '"/> </p>';
                html = html + '<button id="btnEditCart" class="btn btn-info" onclick="ajaxUpdateCartQty(' + getCartId + ',' + trav.cartQty + ',' + trav.cartAmount + ',' + trav.fruitId + ',' + trav.userId+')">Edit</button>';
            }
        })
        $('#editCartForm').append(html);
    }

    function ajaxUpdateCartQty(CartId, CartQty, CartAmount, FruitId, UserId) {
       @* alert(CartId + '/' + CartQty + '/' + CartAmount + '/' + FruitId + '/' + UserId);*@
        var txtcartQty = $('#txtcartQty').val();
        @*alert('new qty=' + txtcartQty);*@

        var obj = {
            CartId: CartId,
            CartQty: txtcartQty,
            CartAmount: CartAmount,
            FruitId: FruitId,
            UserId: UserId
        };

        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        let userId = sessionStorage.getItem("userId");

        $.ajax({
            url: 'https://localhost:44339/api/cart/' + CartId,
            type: 'PUT',
            headers: {
                Authorization: 'Bearer ' + jwtToken
            },
            data: JSON.stringify(obj),        //Convert Javascript object into Json
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('updated the cart qty');
                var url = "https://localhost:44350/home/UserCart";
                window.location.href = url;

            },
            error: function (request) {
                var msg = "";
                msg += "Code: " + request.status + "\n";
                msg += "Text: " + request.statusText + "\n";
                if (request.status == 401) {
                    alert('You are not authorized...Redirecting to sign in');
                    var url = "https://localhost:44350/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            }
        });
    }

</script>

@*  CartId /
    CartQty /
    CartAmount ?
    FruitId ?
    UserId/
    
*@