
@{
    ViewData["Title"] = "UserSignUp";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        body {
            width: 100%;
            height: 100%;
            background-color: lightblue;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Josefin Sans', sans-serif;
        }

        .main_div {
            width: 100%;
            height: 100vh;
            position: relative;
            width: 500px;
            height: 400px;
            margin-left: 300px;
            margin-top: 150px;
        }

        .box {
            width: 500px;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 40px;
            background: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
        }

            .box h1 {
                margin-bottom: 0px;
                color: #fff;
                text-align: center;
                text-transform: capitalize;
            }



            .box .inputBox input {
                width: 80%;
                padding: 5px;
                font-size: 16px;
                color: #fff;
                letter-spacing: 1px;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                background: transparent;
                outline: none;
                color: white;
            }

            .box input[type="button"] {
                background: transparent;
                border: none;
                outline: none;
                color: #fff;
                background: #4c7b91;
                padding: 8px 16px;
                border: 5px;
                font-size: 14px;
                position: center;
            }
    </style>
</head>
<body>

    <div class="main_div">
        <div style="padding:7px" class="box">
            <h1>User SignUp</h1>
           
            <div class="container">
                <div class="form-group" style="margin:15px 15px">
                    <label style="color:white" class="control-label"></label>
                    <input id="txtUserName" class="form-control" placeholder="User Name" required />
                    @* <span asp-validation-for="UserName" class="text-danger"></span>*@
                </div>
                <div class="form-group" style="margin:15px 15px">
                    <label style="color:white" class="control-label"></label>
                    <input id="txtUserPasswd" class="form-control" placeholder="User Password" required />
                    @*<span asp-validation-for="UserPasswd" class="text-danger"></span>*@
                </div>
                <div class="form-group" style="margin:15px 15px">
                    <label style="color:white" class="control-label"></label>
                    <input id="txtGender" class="form-control" placeholder="Gender" required />
                    @*<span asp-validation-for="Gender" class="text-danger"></span>*@
                </div>
                <div class="form-group" style="margin:15px 15px">
                    <label style="color:white" class="control-label"></label>
                    <input id="txtEmail" class="form-control" placeholder="Email" required />
                    @* <span asp-validation-for="Email" class="text-danger"></span>*@
                </div>
                <div class="form-group" style="margin:15px 15px">
                    <label style="color:white" class="control-label"></label>
                    <input id="txtMobNum" class="form-control" type="tel" id="phone" name="phone" placeholder="123-45-678" pattern="[0-9]{3}[0-9]{2}[0-9]{3}" required><br><br>
                    <small>Format: 123-45-678</small><br><br>
                    @*  <span asp-validation-for="MobNum" class="text-danger"></span>*@
                </div>
                <div id="disp" class="alert alert-success" id="toggleAddDetails">
                     <span id="msg">You can Update Your Profile</span>
                </div>
                <div class="form-group">
                    @**@                    <button class="btn btn-primary" id="btnCreate" style="margin-left:200px" type="submit"> Create</button>
                    @*<input id="btnCreate" style="margin-left:200px" type="submit" value="Create" class="btn btn-primary" />*@
                </div>

                <div style="margin-left:175px">
                    <a asp-action="UserSignIn">Already a Member?</a>
                </div>
            </div>
         
                
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>

<script>

    $('#toggleAdminNavBar').hide();//hide Nav Bar
    $('#toggleUserNavBar').hide();//hide Nav Bar

    $(document).ready(function () {      
        $('#disp').hide();
        $("#btnCreate").click(function () {
            var txtUserName = $('#txtUserName').val();
            var txtUserPasswd = $('#txtUserPasswd').val();
            var txtGender = $('#txtGender').val();
            var txtEmail = $('#txtEmail').val();
            var txtMobNum = $('#txtMobNum').val();
            validateInputs(txtUserName, txtUserPasswd, txtGender, txtEmail, txtMobNum); 
            //ajaxCreateUser();
        });  
    });

    function ajaxCreateUser(txtUserName, txtUserPasswd, txtGender, txtEmail, txtMobNum) {
        
            @*var txtUserName = $('#txtUserName').val();
            var txtUserPasswd = $('#txtUserPasswd').val();
            var txtGender = $('#txtGender').val();
            var txtEmail = $('#txtEmail').val();
            var txtMobNum = $('#txtMobNum').val();*@
            
            var user = {
                UserName: txtUserName,
                UserPasswd: txtUserPasswd,
                Gender: txtGender,
                Email: txtEmail,
                MobNum: txtMobNum
            };
        
            $.ajax({
                url: 'https://localhost:44339/api/User',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: "application/json",
                success: function (data) {
                   
                    console.log(data);
                   
                    window.location.href = "/home/UserSignIn";
                },
                error: function (request, message, errorThrown) {
                   
                    $('#disp').show();

                    alert(request.responseText);
                    $('#msg').text(request.responseText);
                }
             });
    }

    function validateInputs(txtUserName,txtUserPasswd,txtGender,txtEmail,txtMobNum)
    {
       
        if (txtUserName == "" @*|| txtUserPasswd == "" || txtGender == "" || txtEmail == "" || txtMobNum == ""*@) {
            $('#disp').show();
            $('#msg').text("Enter Name");
        } else if (txtUserPasswd == "") {
            $('#disp').show();
            $('#msg').text("Enter Password");
        } else if (txtGender == "") {
            $('#disp').show();
            $('#msg').text("Enter Gender");
        } else if (txtEmail == "") {
            $('#disp').show();
            $('#msg').text("Enter Email");
        } else if (txtMobNum == "") {
            $('#disp').show();
            $('#msg').text("Enter Mobile Num");
        }
        else {
            ajaxCreateUser(txtUserName, txtUserPasswd, txtGender, txtEmail, txtMobNum);
        }
    }


</script>