<head>   
    <style>


        body {
            background: url('/Images/bg11.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        #box {
            border: 2px solid crimson;
            overflow: hidden;
            border-radius: 15px 50px;
            overflow: hidden;
            text-align: justify
        }

        #box-head {
            margin-top: 0px;
            padding: 0px;
            background-color: crimson;
        }

        #box-head h3 {
                color: cornsilk;
                margin-top: 0px;
                padding: 10px;
            }

        #box-head p {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 0px;
                padding: 10px;
            }

        #box-body{
            padding:20px;
        }
    </style>
</head>
<body>
    <br />
    <h3>Your Feedback</h3>

    <!--MODAL POPUP FOR ACCEPTING ADDRESS AND PAYMENT mETHOD-->
    <div class="container">


        <!-- Trigger the modal with a button -->
        <div class="alert alert-success" id="toggleAddDetails">
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New FeedBack</button>   <span id="msg">You can Add New Feedback</span>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" style="background-color: aquamarine;">

                    <div class="modal-header">
                        <h4 class="modal-title">Edit Your Feedback:</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="alert alert-info">
                           @* <p> <b>FruitId :</b> <input id="txtFruitId" /> </p>*@
                            <select id="selectFruitId">
                                <option>Select Fruit</option>
                            </select>
                            <p> <b>Message :</b> <input id="txtMessage" /> </p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button onclick='validateCreateFeedBack()' type="button" class="btn-success" data-dismiss="modal">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="list" class="container">

    </div>
</body>

<script>
   @* $('#toggleAdminNavBar').hide();//hide Nav Bar*@

    $(document).ready(function () {
        validateAjaxGetallFeedbacks();
        validateAjaxGetAllFruits();
    });//ready

    function validateAjaxGetallFeedbacks() {
        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        let userId = sessionStorage.getItem("userId");
        console.log(userName);
        console.log(jwtToken);
        $('#userName').html(userName);
        $.ajax({
            type: "GET",
            url: 'https://localhost:44339/api/FeedBack/' + userId,
            headers: {
                Authorization: 'Bearer ' + jwtToken
            },
            dataType: 'json',
            success: function (data, userId) {
               // alert('authorized');
                ResposeForValidateAjaxGetallFeedbacks(data,userId);
            },
            error: function (request) {
                var msg = "";
                msg += "Code: " + request.status + "\n";
                msg += "Text: " + request.statusText + "\n";
                if (request.status == 401) {
                    alert('You are not authorized...Redirecting to sign in');
                    var url = "https://localhost:44350/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            }
        });
    }

    function ResposeForValidateAjaxGetallFeedbacks(data,userId) {
        let html = '';
        $.each(data, function (index, trav) {

            html = html + '<div id="box">';

            html = html + '<div  id="box-head" >';
            html = html + '<h3> Fruit Id#:' + trav.fruitId + '</h3>';
            html = html + '</div>';  

            html = html + '<div  id="box-body" >';
            html = html + '<p>' + trav.message + '</p>';
            html = html + '</div>';  

            html = html + '</div>';  

            html = html+'<br/>'
        })
        $('#list').append(html);
    }

    function validateCreateFeedBack() {
        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        let userId = sessionStorage.getItem("userId");
        var obj = {
            UserId: userId,
            Message: $('#txtMessage').val(),
            FruitId: $('#selectFruitId').val()
        };

        $.ajax({
            url: 'https://localhost:44339/api/FeedBack',
            headers: {
                Authorization: 'Bearer ' + jwtToken
            },
            type: 'POST',
            data: JSON.stringify(obj),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                //alert('created feedback');
                var url = "https://localhost:44350/home/userfeedback";
                window.location.href = url;
                $('#msg').val('new feedback is sent');
            },
            error: function (request) {
                var msg = "";
                msg += "Code: " + request.status + "\n";
                msg += "Text: " + request.statusText + "\n";
                if (request.status == 401) {
                    alert('You are not authorized...Redirecting to sign in');
                    var url = "https://localhost:44350/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            }
        });
    }

    function validateAjaxGetAllFruits(){

        let jwtToken = sessionStorage.getItem("jwtToken");
        let userName = sessionStorage.getItem("userName");
        let userId = sessionStorage.getItem("userId");

        console.log(userName);
        console.log(jwtToken);

        $('#userName').html(userName);

        $.ajax({
            url: 'https://localhost:44339/api/Fruit',
            type: 'GET',
            headers: {
                Authorization: 'Bearer ' + jwtToken
            },
            dataType: 'json',
            success: function (data) {
                ResponseForAjaxDisplayAllFruits(data);
            },
            error: function (request) {
                var msg = "";
                msg += "Code: " + request.status + "\n";
                msg += "Text: " + request.statusText + "\n";
                if (request.status == 401) {
                    alert('You are not authorized...Redirecting to sign in');
                    var url = "https://localhost:44350/";
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }
            }          
        });
    }

    function ResponseForAjaxDisplayAllFruits(data){
         optFruits = '';
        $.each(data, function (index, mov) {
            //<option value="volvo">Volvo</option>

            optFruits = "<option value=" + mov.fruitId + ">" + mov.fruitName + "</option>";

            $('#selectFruitId').append( optFruits);
        })
    }
</script>